<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 페이지</title>
</head>
<body>
	<h1>상품 관리</h1>
	<h2>상품 목록</h2>
	<table>
		<tr>
			<th>상품명</th>
			<th>판매가</th>
		</tr>
		<tr th:each="product: ${products}">
			<td th:text="${product.name}">(이름)</td>
			<td th:text="${product.price}">(가격)</td>
		</tr>
	</table>
	
	<form action="/products" method="post">
		상품명: <input type="text" name="name"><br/>
		판매가: <input type="number" step="any" name="price"><br/>
		<button type="submit">상품 저장</button>
	</form>

</body>
</html>